<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.indicator.mapper.report.ReportTaskScopeMapper">

    <select id="listByTaskId" resultType="com.hospital.indicator.entity.report.ReportTaskScope">
        SELECT * FROM t_report_task_scope WHERE task_id = #{taskId}
    </select>

    <select id="getByTaskAndDept" resultType="com.hospital.indicator.entity.report.ReportTaskScope">
        SELECT * FROM t_report_task_scope WHERE task_id = #{taskId} AND dept_id = #{deptId} LIMIT 1
    </select>

</mapper>
